thead {
    background-color: green;
    color: white;
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(213, 236, 222);
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6, #54DE5D))
}